@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 54, 165);
}
.navbar{
    background-color:white;
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:30px;
}
.links{
    display:flex;
    gap:100px;
}
a{
    text-decoration:none;
    color:rgb(117, 113, 113);
    font-family: Roboto;
    font-size: large;
    font-weight: bold;
}
ul{
    list-style: none;
}
.logo{
    font-weight:bold;
    color:rgb(117, 113, 113);
}
.coursedropdown{
    position:absolute;
    background-color:white;
    color:rgb(117, 113, 113);
    margin:0px;
    padding:0px;
    min-width:150px;
    display:none;
}
li:hover .coursedropdown{
    display:block;
}

.eventsdropdown{
    position:absolute;
    background-color:white;
    color:rgb(117, 113, 113);
    margin:0px;
    padding:2px;
    min-width:150px;
    display:none;
}
li:hover .eventsdropdown{
    display:block;
}
sectionss .trustbox{
    background-color: white;
    border: 1px solid orangered;
    color:orangered;
    border-radius:14px;
    margin:auto;
    padding:8px;
    width:200px;
    position: relative;
    left:0;
}